<script src="https://cdn.rawgit.com/d-oliveros/ngSmoothScroll/master/lib/angular-smooth-scroll.js"></script>
<script src="https://cdn.rawgit.com/LightZam/zInfiniteScroll/master/zInfiniteScroll.js"></script>

<div class="container card chat-container">
  <mat-card-title class="chat-title font-weight-bold">{{curr_chat.contact.name}} {{curr_chat.contact.lastname}}</mat-card-title>
  <div class="card-body">
    <div class="row body" z-infinite-scroll="chat.messages" inverse="true" body-scroll="true" *ngFor="let m of curr_chat.messages">
      <!--<div *ngFor="let c of chat.chats">-->
        <!--works-->
      <!--</div>-->
    <!--</div>-->
    <!--<div *ngFor="let c of chat.chats" class="message row">-->

      <ng-container *ngIf="m.sent_by==usr_id; then sent; else recieved"></ng-container>

      <!-- Messages sent by current user -->
      <ng-template #sent>
        <!--<div class="row">-->
        <div class="card border col-sm-5" id="sent">
          <p class="card-text text font-weight-bold">{{m.text}}</p>
          <p class="timestamp font-weight-lighter text-right"><font size="-1">{{m.date | date: 'MMM d, hh:mm aa'}}</font></p>
        </div>
      </ng-template>

      <!-- Messages sent by contact -->
      <ng-template #recieved>
        <div class="card border border-primary float-left col-sm-5" id="recieved">
          <p class="card-text text font-weight-bold">{{m.text}}</p>
          <p class="timestamp font-weight-lighter text-right"><font size="-1">{{m.date | date: 'MMM d, hh:mm aa'}}</font></p>
        </div>
      </ng-template>

    </div>
    <mat-divider class="chat-divider"></mat-divider>
  </div>

  <!-- Text box to write new message -->
  <div class="new-message">
    <mat-form-field appearance="fill">
      <textarea matInput id="newMessage" placeholder="New Message" [(ngModel)]="text" rows="3"></textarea>
    </mat-form-field>
    <button mat-button (click)="sendMessage()"><mat-icon>send</mat-icon></button>
  </div>

</div>
