<!--<p>this does not work!</p>-->

<!-- Student name -->
<h1 class="name">{{student.name}} {{student.lastname}}</h1>

<!-- Student's personal information -->
<mat-card>
  <div class="row">
    <div class="col-sm-12">
      <h5>Faculty</h5>
      <div>{{student.faculty_name}}</div><br/>
      <h5>Department</h5>
      <div>{{student.program_name}}</div><br/>
      <h5>Email Address</h5>
      <div>{{student.email}}</div><br/>
      <h5>Phone Number</h5>
      <div>{{student.phone_num | phone}}</div><br/>
    </div>
  </div>
</mat-card>

<!--<div class="row">-->
<!-- Student courses table -->
<mat-card>
  <div class="row">
  <div class="col-sm-4">
  <h2>Courses</h2>
  <div class="table-responsive">

    <table class="table table-hover ">
      <thead>
      <tr>
        <th>Name</th>
        <th>Grade</th>
        <th>Status</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let c of courses">
        <!-- Course name -->
        <th scope="row">
          <!-- Mentors are not allowed to click on courses -->
          <div>
            <a>{{c.name}}</a>
          </div>
        </th>
        <!-- Course grade -->
        <td>{{c.general_average}}</td>
        <!-- Course status -->
        <td>
          <span *ngIf="c.status==4" class="badge badge-success">EXCELLENT</span>
          <span *ngIf="c.status==3" class="badge badge-success">PASSING</span>
          <span *ngIf="c.status==1" class="badge badge-danger">NOT PASSING</span>
          <span *ngIf="c.status==2" class="badge badge-warning">SURVIVING</span>
          <span *ngIf="c.status==0" class="badge-info">N/A</span>
        </td>
      </tr>
      </tbody>
    </table>
  </div>

  <a mat-fab (click)="comment()"><mat-icon>comment</mat-icon></a>
  </div>
<!--</mat-card>-->

    <!-- Pie chart showing time spent per task of student -->
<!--<mat-card class="col-sm-5 offset-1">-->
  <div class="col-sm-4">
  <app-time-management-pie-chart></app-time-management-pie-chart>
  <a mat-fab (click)="comment()"><mat-icon>comment</mat-icon></a>
  </div>
  </div>
</mat-card>
<!--</div>-->

<!-- Gauges showing student's grade -->
<mat-card class="col-sm-4">
  <h2>GPA</h2>
  <div class="row">
  <div class="col-sm-4 offset-2" >
    <h1 class="center" style="color: green;">{{student.gpa | number : '.2-2'}}</h1>
    <!--<div id="gauge1" class="chart"></div>-->
  </div>
</div>
  <a mat-fab (click)="comment()"><mat-icon>comment</mat-icon></a>
</mat-card>

<!-- Calendar with student's schedule-mbsc-viejo -->
<mat-card class="col-sm-8">
  <h2>Schedule</h2>
  <mbsc-eventcalendar showOnFocus="true"></mbsc-eventcalendar>
  <a mat-fab (click)="comment()"><mat-icon>comment</mat-icon></a>
</mat-card>

<!-- Goals -->
<mat-card>
  <h2>Goals</h2>
  <a mat-fab (click)="comment()"><mat-icon>comment</mat-icon></a>
</mat-card>
