<div class="row">
  <div class="col-sm-6">
    <mat-card>
      <mat-card-title><h1>{{course.name}}</h1></mat-card-title>
      <mat-card-subtitle>{{course.codification}} - {{course.section_num}}</mat-card-subtitle>
    </mat-card>

    <!-- Gauges showing progress in course, of cummulative avg and expected avg -->
    <mat-card>
      <mat-card-title>Progress</mat-card-title>
      <mat-card-content>
        <div class="row">
          <div class="col-sm-4 offset-2" >
            <h5 class="center">Curent Grade</h5>
            <!-- todo: cambiar el color del avg segun el status -->
            <h1 class="center" style="color: green;">{{course.general_average | number : '.2-2'}} </h1>
            <!--<div id="gauge1" class="chart"></div>-->
          </div>
          <div class="col-sm-6">
            <h5 center>Acummulated Grade</h5>
            <mat-progress-bar mode="determinate" value="{{course.cummulative_average}}"></mat-progress-bar>
            <p>{{course.cummulative_average}} %</p>
            <!--<div id="gauge2" class="chart"></div>-->
          </div>
        </div>
        <!--<app-grade-gauge [grades]="{ general: course.general_average | json, cummulative: course.cummulative_average | json }"></app-grade-gauge>-->
      </mat-card-content>
    </mat-card>

    <!-- Grades -->
    <mat-card>
      <!--<mat-expansion-panel>-->
      <!--<mat-expansion-panel-header>-->
        <h2>Grades</h2>
      <!--</mat-expansion-panel-header>-->
      <mat-card-content>
        <div class="table-responsive">
          <table class="table table-hover table-sm">
            <!-- Header -->
            <thead>
              <tr>
                <th>Name</th>
                <th>Date</th>
                <th>Weight</th>
                <th>Grade</th>
                <th class="th-sm"> </th>
              </tr>
            </thead>
            <!-- Columns -->
            <tbody>
              <ng-container *ngFor="let g of course.grades">

                <!-- For a grade who is being edited, input field will appear -->
                <tr *ngIf="editable==g">
                  <!-- Name -->
                  <td scope="row">
                    <mat-form-field>
                      <input #name matInput [value]="g.name">
                    </mat-form-field>
                  </td>
                  <!-- Date -->
                  <td>
                    <mat-form-field>
                      <!-- todo: check por que no coge el date (i have a feeling que es el formato) -->
                      <input #date matInput  [matDatepicker]="picker" [value]="g.date">
                      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                      <mat-datepicker #picker disabled="false"></mat-datepicker>
                    </mat-form-field>
                  </td>
                  <!-- Weight -->
                  <td>
                    <mat-form-field>
                      <input #weight matInput [value]="g.weight">
                      <span matSuffix>%</span>
                    </mat-form-field>
                  </td>
                  <!-- Grade -->
                  <td>
                    <mat-form-field>
                      <div class="example-tel-input-container">
                        <input #grade matInput class="example-tel-input-element" [value]="g.grade" size="3">
                        <span class="example-tel-input-spacer">/</span>
                        <input #total matInput class="example-tel-input-element" [value]="g.total" size="3">
                      </div>
                    </mat-form-field>
                  </td>
                  <!-- Save button -->
                  <td>
                    <button mat-button (click)="updateGrade(g,name.value,date.value,weight.value,grade.value,total.value)">Save</button>
                  </td>
                </tr>

                <!-- If grade is not editable, show only data -->
                <tr *ngIf="editable!=g">
                  <!-- Name -->
                  <th scope="row">{{g.name}}</th>
                  <!-- Date -->
                  <td>{{g.date | date}}</td>
                  <!-- Weight -->
                  <td>{{g.weight}} %</td>
                  <!-- Grade -->
                  <td>{{g.grade}} / {{g.total}}</td>
                  <!-- Action buttons -->
                  <td class="action-buttons">
                    <!-- Button to edit grade -->
                    <button mat-icon-button (click)="editable=g"><mat-icon>create</mat-icon></button>
                    <!-- Button to delete grade -->
                    <button mat-icon-button (click)="deleteGrade(g.grade_id)"><mat-icon>clear</mat-icon></button>
                  </td>
                </tr>
              </ng-container>

              <!-- New grade form -->
              <tr>
                <!-- Name -->
                <td scope="row">
                  <mat-form-field>
                    <input matInput type="text" placeholder="New Grade Name" [(ngModel)]="newGrade.name">
                  </mat-form-field>
                </td>
                <!-- Date -->
                <td>
                  <mat-form-field>
                    <input matInput disabled [matDatepicker]="picker" placeholder="Date" [(ngModel)]="newGrade.date">
                    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                    <mat-datepicker #picker disabled="false"></mat-datepicker>
                  </mat-form-field>
                </td>
                <!-- Weight -->
                <td>
                  <mat-form-field>
                    <input matInput type="number" placeholder="Weight" [(ngModel)]="newGrade.weight">
                    <span matSuffix>%</span>
                  </mat-form-field>
                </td>
                <!-- Grade -->
                <td>
                  <!--<mat-form-field>-->
                    <!--<div class="example-tel-input-container">-->
                      <!--<input matInput type="number" class="example-tel-input-element" [(ngModel)]="newGrade.grade" size="3">-->
                      <!--<span class="example-tel-input-spacer">/</span>-->
                      <!--<input matInput type="number" class="example-tel-input-element" [(ngModel)]="newGrade.total" size="3">-->
                    <!--</div>-->
                  <!--</mat-form-field>-->



                  <!-- telephone input tutorial attempt -->
                  <mat-form-field>
                    <!--<example-tel-input placeholder="Phone number" required></example-tel-input>-->
                    <!--<div [formGroup]="parts" class="example-tel-input-container">-->
                      <!--<input class="example-tel-input-element" formControlName="area" size="3">-->
                      <!--<span class="example-tel-input-spacer">&ndash;</span>-->
                      <!--<input class="example-tel-input-element" formControlName="exchange" size="3">-->
                      <!--<span class="example-tel-input-spacer">&ndash;</span>-->
                      <!--<input class="example-tel-input-element" formControlName="subscriber" size="4">-->
                    <!--</div>-->
                    <mat-icon matSuffix>phone</mat-icon>
                    <mat-hint>Include area code</mat-hint>
                  </mat-form-field>






                </td>
                <!-- Add new grade button -->
                <td>
                  <button mat-button (click)="addGrade()">Add</button>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </mat-card-content>
      <!--</mat-expansion-panel>-->
    </mat-card>

    <!-- Help buttons -->
    <mat-card>
        <mat-card-content>
          <mat-list>
            <mat-list-item><a routerLink="#">See tutors</a></mat-list-item>
            <mat-list-item><a routerLink="#">Send email to professor</a></mat-list-item>
          </mat-list>
        </mat-card-content>
    </mat-card>
  </div>

  <!-- Tasks -->
  <div class="col-sm-6">
    <mat-card>
      <div class="row">
        <!-- Undonde tasks -->
        <div class="col-sm-6" >TO DO
          <!--<div-->
            <!--cdkDropList-->
            <!--#todoList-->
            <!--[cdkDropListData]="todo"-->
            <!--[cdkDropListConnectedTo]="[doneList]"-->
            <!--(cdkDropListDropped)="drop($event)">-->
            <mat-list *ngFor="let t of course.tasks | finishedTask: {args: false}">
              <div cdkDrag><mat-list-item><mat-checkbox (change)="checkTask(t)">{{t.title}}</mat-checkbox></mat-list-item></div>
            </mat-list>
          <!--</div>-->
          <!--<button mat-mini-fab (click)="openForm()"><mat-icon>add</mat-icon></button>-->


          <!-- New Task Form button -->
          <!--<app-task-form [course]="course.course_id"></app-task-form>-->
        </div>

        <mat-divider [vertical]="true"></mat-divider>

        <!-- Done tasks -->
        <div class="col-sm-5">DONE
          <!--<div-->
            <!--cdkDropList-->
            <!--#doneList-->
            <!--[cdkDropListData]="done"-->
            <!--[cdkDropListConnectedTo]="[todoList]"-->
            <!--(cdkDropListDropped)="drop($event)">-->
            <mat-list *ngFor="let t of course.tasks | finishedTask: {args: true}">
              <mat-list-item><mat-checkbox [checked]="true" [color]="" (change)="checkTask(t)">{{t.title}}</mat-checkbox></mat-list-item>
            </mat-list>
          <!--</div>-->
        </div>
      </div>
    </mat-card>
  </div>
</div>
