<div class="row">
  <div class="col-sm-4">
    <mat-card>
      <mat-card-header>
        <mat-card-title>Anfitriones</mat-card-title>
        <mat-card-subtitle>Los anfitriones te pueden ofrecer ayuda relacionada al uso de la aplicacion.</mat-card-subtitle>
      </mat-card-header>
      <mat-divider></mat-divider>
      <mat-card-actions>
        <button mat-button>Contactar</button>
      </mat-card-actions>
    </mat-card>
  </div>

    <div class="col-sm-4">
    <mat-card>
      <mat-card-header>
        <mat-card-title>Consejeria</mat-card-title>
        <mat-card-subtitle>Los consejeros te pueden ayudar con tu manejo de tiempo, traslados internos y externos e
          identificar intereses vocacionales.</mat-card-subtitle>
      </mat-card-header>
      <mat-divider></mat-divider>
      <mat-card-content>
        <br/><p>Consejero asignado: {{counselor.name}} {{counselor.lastname}}</p>
      </mat-card-content>

        <mat-card-actions>
          <button mat-button (click)="goToForm('counselor')">Sacar cita</button>
          <button mat-button (click)="sendMessage(counselor.id)">Contactar</button>
        </mat-card-actions>

    </mat-card>
    </div>

  <div class="col-sm-4">
    <mat-card>
      <mat-card-header>
        <mat-card-title>Psicologia</mat-card-title>
        <mat-card-subtitle>Los psicologos te pueden ayudar con problemas intrapersonales y/o interpersonales, como el
          estres, la tristeza, la ansiedad, problemas con concentracion, problemas de pareja, problemas familiares o
          problemas de amigos.</mat-card-subtitle>
      </mat-card-header>
      <mat-divider></mat-divider>
      <mat-card-content>
        <br/><p>Psicologo asignado: {{psychologist.name}} {{psychologist.lastname}}</p>
      </mat-card-content>

        <mat-card-actions>
          <button mat-button (click)="goToForm('psychologist')">Sacar cita</button>
          <button mat-button (click)="sendMessage(psychologist.id)">Contactar</button>
        </mat-card-actions>
    </mat-card>
  </div>
</div>
