<app-topnavbar></app-topnavbar>
<!-- Left Sidebar  -->
<div class="left-sidebar">
  <!-- Sidebar scroll-->
  <div class="scroll-sidebar">
    <!-- Sidebar navigation-->
    <nav class="sidebar-nav">
      <ul id="sidebarnav">
        <li class="nav-devider"></li>
        <!-- Home page, dashboard -->
        <li class="nav-label">Home</li>
        <li class="nav-item"> <a [routerLink]="[ '/mentormain', { outlets: { content: 'home' } }]"
                                 aria-expanded="false"><i class="fa fa-tachometer"></i><span class="hide-menu">Dashboard</span></a>
        <!-- Students list page -->
        <li class="nav-label">My Students</li>
        <li class="nav-item"> <a [routerLink]="[ '/mentormain', { outlets: { content: 'student-list' } }]"
                                       aria-expanded="false"><i class="fa fa-tachometer"></i><span class="hide-menu">Students List</span></a>
      </ul>
    </nav>
    <!-- End Sidebar navigation -->
  </div>
  <!-- End Sidebar scroll-->
</div>
<!-- End Left Sidebar  -->

<!-- Page wrapper  -->
<div class="page-wrapper">

  <!-- Container fluid  -->
  <div class="container-fluid">

    <router-outlet name="content"></router-outlet>

  </div>
  <!-- End Container fluid  -->
</div>
<!-- End Page wrapper  -->
