<mat-card>
  <mat-card-header>
    <mat-card-title>Anfitriones</mat-card-title>
    <mat-card-subtitle>Los anfitriones te pueden ofrecer ayuda relacionada al uso de la aplicacion</mat-card-subtitle>

  </mat-card-header>
</mat-card>

<mat-card>
  <mat-card-header>
    <mat-card-title>Consejeria</mat-card-title>
    <mat-card-subtitle>Los consejeros te pueden ayudar con el manejo de tiempo, traslados internos y externos...</mat-card-subtitle>
    <mat-card-actions>
      <button>Sacar cita</button>
    </mat-card-actions>
  </mat-card-header>
</mat-card>

<mat-card>
  <mat-card-header>
    <mat-card-title>Psicologia</mat-card-title>
    <mat-card-subtitle>Los psicologos...</mat-card-subtitle>
  </mat-card-header>
</mat-card>
