<h3 mat-dialog-title="">New Task</h3>

<div mat-dialog-content class="form-container">
  <ul>
    <!-- Task type -->
    <li>
      Type:&nbsp;
      <mat-radio-group [(ngModel)]="data.type">
        <mat-radio-button [value]="'study'">Study</mat-radio-button>
        <mat-radio-button [value]="'personal'">Personal</mat-radio-button>&nbsp;
      </mat-radio-group>
    </li>

    <!-- Course, only if it is a study task -->
    <li *ngIf="data.type == 'study'">
      <!--Course:&nbsp;-->
      <mat-form-field>
        <mat-select placeholder="Course" [(ngModel)]="data.course">
          <mat-option *ngFor="let course of courses" [value]="course.name">
          </mat-option>
        </mat-select>
      </mat-form-field>
    </li>

    <!-- Task title input -->
    <li>
      <mat-form-field appearance="outline">
        <input matInput placeholder="Title" [(ngModel)]="data.title">
      </mat-form-field>
    </li>

    <!-- Task description input -->
    <li>
      <mat-form-field appearance="outline">
        <textarea matInput placeholder="Description" [(ngModel)]="data.description"></textarea>
      </mat-form-field>
    </li>

    <!-- Task starting date and time -->
    <li>
      <mat-form-field appearance="outline">
        <input matInput [matDatepicker]="start_picker" placeholder="Starts" [(ngModel)]="data.start" disabled>
          <mat-datepicker-toggle matSuffix [for]="start_picker"></mat-datepicker-toggle>
          <mat-datepicker #start_picker disabled="false"></mat-datepicker>
        <div>
          <mbsc-time [(ngModel)]="data.start_time" [options]="desktopSettings">Desktop</mbsc-time>
        </div>
      </mat-form-field>
    </li>

    <!-- Task ending date and time -->
    <li>
      <mat-form-field appearance="outline">
        <input matInput [matDatepicker]="end_picker" placeholder="Ends" [(ngModel)]="data.end" disabled>
          <mat-datepicker-toggle matSuffix [for]="end_picker"></mat-datepicker-toggle>
          <mat-datepicker #end_picker disabled="false"></mat-datepicker>
      </mat-form-field>
    </li>
  </ul>
</div>

<!-- Create Task button -->
<div mat-dialog-actions>
  <button mat-button [mat-dialog-close]="data" (onclick)="insertTask()">Create Task</button>
</div>
