<div mat-dialog-content class="form-container">
  <h3 mat-dialog-title>New Task</h3>
  <ul>
    <!-- Error alert -->
    <app-erroralert></app-erroralert>

    <!-- Task type; only shown when opened in schedule component, not course page -->
    <li *ngIf="!data.course">
      <mat-radio-group [(ngModel)]="task.type">Type:&nbsp;
        <mat-radio-button [value]="0">Study</mat-radio-button>&nbsp;
        <mat-radio-button [value]="1">Personal</mat-radio-button>&nbsp;
      </mat-radio-group>
    </li>

    <!-- Course; only shown if it is a study task -->
    <li *ngIf="task.type == 0">
      <!--Course:&nbsp;-->
      <mat-form-field class="form-field">
        <mat-select placeholder="Course" [(ngModel)]="task.course">
          <mat-option *ngFor="let course of courses" [value]="course.course_id">
            {{course.name}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </li>

    <!-- Task title input -->
    <li>
      <mat-form-field class="form-field" appearance="outline">
        <input matInput placeholder="Title" [(ngModel)]="task.title">
      </mat-form-field>
    </li>

    <!-- Task description input -->
    <li>
      <mat-form-field class="form-field" appearance="outline">
        <textarea matInput placeholder="Description" [(ngModel)]="task.description"></textarea>
      </mat-form-field>
    </li>

    <!-- Task starting date and time -->
    <li>
      <table class="form-field" cellspacing="0">
        <tr></tr>
        <td>
          <mat-form-field class="form-field" appearance="outline">
            <input matInput [max]="task.end" [matDatepicker]="start_picker" placeholder="Starts" [(ngModel)]="task.start" disabled>
            <mat-datepicker-toggle matSuffix [for]="start_picker"></mat-datepicker-toggle>
            <mat-datepicker #start_picker disabled="false"></mat-datepicker>
          </mat-form-field>
        </td>
        <td>
          <mat-form-field class="form-field" appearance="outline">
            <input matInput [(ngModel)]="start_time" mbsc-time [mbsc-options]="timeSettings" placeholder="Start Time" />
            <!--<mat-icon>access_time</mat-icon>-->
          </mat-form-field>
        </td>
      </table>
    </li>

    <!-- Task ending date and time -->
    <li>
      <table class="form-field" cellspacing="0">
        <tr></tr>
        <td>
          <mat-form-field class="form-field" appearance="outline">
            <input matInput [min]="task.start" [matDatepicker]="end_picker" placeholder="Ends" [(ngModel)]="task.end" disabled>
            <mat-datepicker-toggle matSuffix [for]="end_picker"></mat-datepicker-toggle>
            <mat-datepicker #end_picker disabled="false"></mat-datepicker>
          </mat-form-field>
        </td>
        <td>
          <mat-form-field class="form-field" appearance="outline">
            <input matInput [(ngModel)]="end_time" mbsc-time [mbsc-options]="timeSettings" placeholder="End Time" />
          </mat-form-field>
        </td>
      </table>
    </li>
  </ul>
</div>

<!-- Create Task button -->
<div mat-dialog-actions>
  <button mat-button (click)="insertTask()">Create Task</button>
</div>
