<!-- Messages -->
<div class="navbar-nav my-lg-0 nav-item dropdown">
  <a class="nav-link dropdown-toggle text-muted  " href="#" id="2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> <i class="fa fa-envelope"></i>
    <div *ngIf="newMessages > 0" class="notify"> <span class="heartbit"></span> <span class="point"></span> </div>
  </a>
  <div class="dropdown-menu dropdown-menu-right mailbox animated zoomIn" aria-labelledby="2">
    <ul>
      <li>
        <div class="drop-title">You have {{newMessages}} new messages</div>
      </li>
      <li>
        <div class="message-center">
          <div  *ngFor="let c of chats">
            <!-- Message -->
             <a [routerLink]="[ main_path, { outlets: { content: 'chat' } } ]" [queryParams]="{ chat_id: c.chat_id | json }">
              <!-- Contact user profile picture -->
              <div class="user-img"> <img src="images/users/default-profile.png" alt="user" class="img-circle">
                <!-- If message hasn't been opened -->
                <!--<span *ngIf="!c.messages[c.messages.length-1].seen" class="profile-status online pull-right"></span>-->
              </div>
              <!-- Message content -->
              <div class="mail-contnet">
                <!-- Contact name -->
                <h5>{{c.contact.name}} {{c.contact.lastname}}</h5>
                <!-- Message text, will show the text of the last message in chat, only 40 first chars will show -->
                <span class="mail-desc">{{c.messages[c.messages.length-1].text | slice:0:40}}</span>
                <!-- Date sent, will show date of last message in chat -->
                <span class="time">{{c.messages[c.messages.length-1].date | date}}</span>
              </div>
            </a>
          </div>
        </div>
      </li>
      <li>
        <a class="nav-link text-center" [routerLink]="[ '/studentmain', { outlets: { content: 'all-chats' } } ]"> <strong>See all Messages</strong> <i class="fa fa-angle-right"></i> </a>
      </li>
    </ul>
  </div>
</div>




